/*
 Note: all pictures obtained are from pixbay.com where every downloadable picture is allowed to be used unlimited.
 */

body {
  font-family: 'Lato';
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  font-family: 'Montserrat';
}

.Title-subpages {
    padding-top: 2rem;
    padding-bottom: 9rem;
}


section h2 {
  font-size: 3rem;
  line-height: 2rem;
}

.font-h3 {
    color: rgba(0,31,70);
}



.portfolio {
  margin-bottom: -15px;
  padding-bottom: 5rem;
}

.portfolio .portfolio-item {
  position: relative;
  display: block;
  max-width: 25rem;
  margin-bottom: 15px;
}

.portfolio .portfolio-item .portfolio-item-caption {
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
  opacity: 0;
  background-color: rgba(0,31,55,0.5);
}

.portfolio {
  margin-bottom: -30px;
}
.portfolio .portfolio-item {
  margin-bottom: 30px;
}



.footer {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: rgba(0,31,70);
  color: white;
}

.copyright {
  background-color: rgba(0,31,45);
}


.img-fluid {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.bg0 {
  position: relative;
  background: url("../img/face.png") center;
  background-size: cover;
  padding-top: 30rem;
  padding-bottom: 4rem; 
}

.bg1 {
  background-color: rgba(0,31,70,0.6) !important;
}

.bg-AI {
  position: relative;
  background: url("../img/AI.jpg") center;
  background-size: cover;
  padding-top: 30rem;
}

.bg-mobiFace {
  position: relative;
  background: url("../img/mobifacePage0.png") center;
  background-size: cover;
  padding-top: 30rem;
}

.bg-play {
    position: relative;
    background: url("../img/example.png") center;
    background-size:auto;
    padding-top: 5rem;
    padding-bottom: 14rem;
}

.bg-profile {
    position: relative;
    background: url("../img/profile.jpg") center;
    background-size:cover;
    padding-top: 5rem;
    padding-bottom: 14rem;
}

.center {
    margin-left: auto;
    margin-right: auto;
    display: block
}

.bg-tag {
    background-color: deepskyblue!important
}

.text-primary {
  color: deepskyblue!important;
}

.Title {
    background-color: ;
    padding-top: 3rem;
    padding-bottom: 2rem;
}

.text-secondary {
  color: rgba(0,31,55) !important;
}

.content {
    color: rgb(0,31,55);
}
    
/*below are the nav bar and the animation of it, refrence of these code: in CSS files of  https://github.com/BlackrockDigital/startbootstrap-freelancer, allowed to be be used with refrence.*/
#mainNav {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-weight: 700;
  font-family: 'Montserrat';
}

#mainNav .navbar-brand {
  color: white;
}

#mainNav .navbar-nav {
  margin-top: 1rem;
  letter-spacing: 0.0625rem;
}

#mainNav .navbar-nav li.nav-item a.nav-link {
  color: white;
}

#mainNav .navbar-nav li.nav-item a.nav-link:hover {
  color: deepskyblue;
}

#mainNav .navbar-nav li.nav-item a.nav-link:active, #mainNav .navbar-nav li.nav-item a.nav-link:focus {
  color: white;
}

#mainNav .navbar-nav li.nav-item a.nav-link.active {
  color: deepskyblue;
}

#mainNav .navbar-toggler {
  font-size: 80%;
  padding: 0.8rem;
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
  }
  #mainNav .navbar-brand {
    font-size: 2em;
    -webkit-transition: font-size 0.3s;
    transition: font-size 0.3s;
  }
  #mainNav .navbar-nav {
    margin-top: 0;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link.active {
    color: white;
    background: deepskyblue;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link.active:active, #mainNav .navbar-nav > li.nav-item > a.nav-link.active:focus, #mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover {
    color: white;
    background: deepskyblue;
  }
  #mainNav.navbar-shrink {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  #mainNav.navbar-shrink .navbar-brand {
    font-size: 1.5em;
  }
}
/*end of navBar style*/


